$cbg: rgba(170, 170, 170, 0.5);
$bcl: #fefefa;

.carousel-caption{

    background: $cbg;
    margin-bottom: 27%;
    border: 1px solid $bcl;

}

header .carousel-inner .item{
    height: 100vh;
}

.carousel-caption{

    margin-bottom: 27%;
    border: 1px solid $bcl;

}